* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: grey;
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#tick {
    animation: fadeinout 3s linear;
    color: rgb(31, 230, 31);
}