@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #2a3439;
    font-size: 18px;
}

.card {
    background-color: #77DAAE;
}

.card-title {
    font-size: 24px;
    font-family: 'Ubuntu Sans';
    margin-bottom: 3%;
}

p {
    margin-top: 4%;
    margin-bottom: 1%;
}

.btn-custom {
    background-color: #FFFFFF;
    box-shadow: white;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: #2a3439;
    color: white;
    outline: none;
}

.btn-custom:focus {
    box-shadow: #FFF;
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#tick {
    animation: fadeinout 2.27s linear;
}

@media only screen and (max-width: 600px) {

    body,
    html {
        overflow: auto;
    }

    .btn-custom {
        font-size: 14px;
        padding: 5px 10px;
    }
}